<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yarnify"
        tools:targetApi="31" >
        <activity
            android:name="com.yarnify.AddYarnActivity"
            android:exported="false"
            android:parentActivityName="com.yarnify.YarnListActivity" />
        <activity
            android:name="com.yarnify.YarnListActivity"
            android:exported="false"
            android:parentActivityName="com.yarnify.MainActivity" />
        <activity
            android:name="com.yarnify.AddNeedleActivity"
            android:exported="false"
            android:label="@string/title_activity_add_needle"
            android:parentActivityName="com.yarnify.NeedleListActivity"
            android:theme="@style/Theme.Yarnify" />
        <activity
            android:name="com.yarnify.NeedleListActivity"
            android:exported="false"
            android:parentActivityName="com.yarnify.MainActivity" />
        <activity
            android:name="com.yarnify.PatternPageActivity"
            android:exported="false"
            android:parentActivityName="com.yarnify.MainActivity" />
        <activity
            android:name="com.yarnify.SavedPatternsActivity"
            android:exported="false"
            android:parentActivityName="com.yarnify.MainActivity" />
        <activity
            android:name="com.yarnify.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>